@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");
* {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
}
.navbar{
  background:#5e5353 !important;
}
.navbar-collapse{
  justify-content: center;
}
.nav-item{
  font-size:14px;
}
.nav-icon{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.first-section{
  background:#2C2E31;
  width:100;
  height:400px;
  color:#fff;
  padding:70px 0;
}

small{
  color: #959688;
}

.boxed-section{
  width: 50%;
  margin: 0 auto;
  background: red;
  margin-top: -15%;
  height: auto;
  border-radius: 5px;
  padding: 0;
}

#top-bottom{
  width: 100%;
  height: 120%;
  color: #000;
  background: green;
}

#bottom-box{
  width: 100%;
  height: 300px;
  color: #000;
  background: yellow;
  border-top: 1px solid red;
}

.img-box{
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 4;
  border: 1px solid #999 ;
}

.img-box img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  padding: 5px;
}

